__pycache__/
.pycache/
*.py[cod]
.venv/
.env
.DS_Store
.ruff_cache/
.pytest_cache/
.ipynb_checkpoints/
mlruns/
outputs/
tmp/
*.aux
*.log
*.out
*.toc
*.nav
*.snm
*.vrb
*.synctex.gz
data/raw/*
data/bronze/*
data/silver/*
data/gold/*
!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

# 教学大纲 docx 文件不推送
*.docx
