@font-face{font-family:"BDM Course Song";font-style:normal;font-weight:400;font-display:swap;src:url("./course-song-regular.woff2?v=83f0bac55bd7") format("woff2")}
@font-face{font-family:"BDM Course Song";font-style:normal;font-weight:700;font-display:swap;src:url("./course-song-bold.woff2?v=aa72b832437f") format("woff2")}
